@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base{
    @font-face {
        font-family: "Dana";
        src: url(../fonts/Dana/woff2/DanaFaNum-Regular.woff2)format("woff2");
    }
    @font-face {
        font-family: "Dana Medium";
        src: url(../fonts/Dana/woff2/DanaFaNum-Medium.woff2)format("woff2");
    }
    @font-face {
        font-family: "Dana DemiBold";
        src: url(../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2)format("woff2");
    }
    @font-face {
        font-family: "Morabba Light";
        src: url(../fonts/Morabba/woff2/Morabba-Light.woff2)format("woff2");
    }
    @font-face {
        font-family: "Morabba Medium";
        src: url(../fonts/Morabba/woff2/Morabba-Medium.woff2)format("woff2");
    }
    @font-face {
        font-family: "Morabba Bold";
        src: url(../fonts/Morabba/woff2/Morabba-Bold.woff2)format("woff2");
    }
    img{
        user-select: none;
    }


}

@layer components{
    .submenu{
        @apply  hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
    }
    .submenu-open{
        @apply flex;
    }
    .overlay{
        @apply invisible opacity-0 md:hidden fixed inset-0 bg-black/40 w-full h-full transition-all;
    }
    .overlay--visibel{
        @apply visible opacity-100;
    }


    .circle{
        @apply md:flex items-center justify-center rounded-full border hidden;
    }
    .circle--parent{
        @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4;

    }
    .circle--lg{
        @apply w-[203px] h-[203px] border-white/25;
    }
    .circle--md{
        @apply w-[145px] h-[145px] border-white/80;
    }
    .circle--sm{
        @apply w-[95px] h-[95px] border-white/50;
    }
    @media screen and (min-width:1280px){
        html.dark .products{
            background-image: url('../img/products-bg.png');
        }
        .products{
            background:linear-gradient(rgba(243,244,246,0.65),rgba(243,244,246,0.65)) ,url('../img/products-bg.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
        
    }
    .section-title{
        @apply text-2xl font-morabbaMedium md:text-5xl text-zinc-700 dark:text-white
    }
    .section-subtitle{
        @apply inline-block font-morabbaLight mt-0.5 md:mt-1.5 text-xl md:text-3xl text-zinc-700 dark:text-white
    }
    .section-link{
        @apply flex items-center tracking-tightset text-base md:text-xl text-orange-300 gap-x-0.5 md:gap-x-1 h-10 pr-3 pl-1 transition-colors md:hover:bg-orange-300/20 rounded-md;
    }

    .offer{
        @apply text-gray-400 relative
    }
    .offer::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        inset: 0;
        margin: auto;
        background: #EF4444;
        top: -5px;
    }
    .category--banner__item1{
        background: linear-gradient(270deg,rgba(0,0,0,0.65)33.85%,rgba(0,0,0,0.10)100%), url('../img/categories/category-right.jpg');
        background-size: cover;
    }
    .category--banner__item2{
        background: linear-gradient(270deg,rgba(0,0,0,0.65)33.85%,rgba(0,0,0,0.10)100%), url('../img/categories/category-left.jpg');
        background-size: cover;
    }
    .swiper-button-prev--custom,
    .swiper-button-next--custom{
        @apply flex-center w-9 h-9 md:w-10 md:h-10 bg-white dark:text-white text-zinc-700 dark:bg-zinc-700 hover:bg-gray-300 dark:hover:bg-white dark:hover:text-zinc-700 transition-all rounded-full ;
    }
}

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center
    }
}